.navbar-floating {
    position: fixed;
   transition: all .2s;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 300;
}
#home {
    padding-top: 30vh;
    height: 800px;
    color: white;
}
.home {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) , url(https://i.pinimg.com/originals/e5/c8/03/e5c803a1f390a8bfb5f45abd8a055ba5.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.consultant {
    color: #16c0f0;
}
.about,
.contact {
    padding-top: 20px;
    background-color: #323232;
    color: white;
}
.line {
    width: 100px;
    background-color: #16c0f0;
    height: 4px;
}
.actives {
    color: #16c0f0;
}
.fas,
.fab {
    color: white;
    font-size: 30px;
    background-color: #16c0f0;
    border-radius: 50%;
    padding: 15px;
}
#about1 {
    
}
.courses,
.footer {
    background: #292929;
    color: white;
}
#img-fluid {
    max-height: 200px;
}
#course {
    min-width: 175px;
    margin-bottom: 50px;
 padding: 20px;
    margin-right: 10px;
    background-color: #1b1b1b;
    color: white;
}
.navbar-brand {
    font-size: 24px;
}
.nav-item {
    font-size: 20px;
}
.btn {
    color: white;
    font-size: 15px;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 20px;
}
.btn:hover {
    background-color: #16c1f0;
    box-shadow: 0px 0px 10px white;
}
#twitter {
    border: none;
    padding: 0;
}
#twitter:hover {
    border: none;
    padding: 0;
}
.contact-card{
    background-color: #1b1b1b;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
   
}
#contact-btn {
    font-size: 15px;
   
    
}
#contact-btn:hover {
    color: white;
    background-color: transparent;
}
body {
  overflow-x: hidden;
 
}
@media (min-width: 992px) {
    .navbar-floating {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.582);
    }
}
@media only screen and (max-width: 200px) {
    #course {
        min-width: 100px;
        margin-bottom: 50px;
     padding: 20px;
        margin-right: 10px;
        background-color: #1b1b1b;
        color: white;
    }
}
#home1 {
    color: #16c0f0;
}
